<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8"/>
  <title>Elektro Planner.</title>
<style>
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  position: relative;
  <!-- padding: 6px 0px; -->
  <!-- border: 1px solid #ccc; -->
  border-top: none;
}
div.move {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  background-color: #92AD40;
  padding: 5px;
  color: #FFFFFF;
  font-weight: bold;
}
svg {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 70;
  z-index: -1;
}

</style>
</head>
<body onload="clickInit()">
<!-- <p id ="pos_text">This is the current position</p> -->
<div class="tab">
  <button class="tablinks1" onclick="changeTab(event, 'gp')">Geschosspläne</button>
  <button class="tablinks1" onclick="changeTab(event, 'rb')">Raumbuch</button>
  <button class="tablinks1" onclick="changeTab(event, 'mb')">Materialbedarf</button>
</div>

<div id="gp" class="tabcontent">
  <div class="tab">
    <button class="tablinks2" onclick="changeTab(event, 'ug', 'tabcontent2')">UG</button>
    <button class="tablinks2" onclick="changeTab(event, 'eg', 'tabcontent2')">EG</button>
    <button class="tablinks2" onclick="changeTab(event, 'og', 'tabcontent2')">OG</button>
  </div>
  <div id="ug" class="tabcontent2">
    <h3>Untergeschoss</h3>
    {% autoescape false %}
    {{grundriss_ug}}
    {% endautoescape %}
  </div>
  <div id="eg" class="tabcontent2">
    <h3>Erdgeschoss</h3>
    {% autoescape false %}
    {{grundriss_eg}}
    {% endautoescape %}
    <div id="eg_move" class="move" style="left: 0px; top: 200px">
      <p id="text_move">eg_move</p>
    </div>
    <div id="eg_move2" class="move" style="left: 100px; top: 92px">
      <p id="text_move">eg_move2</p>
    </div>
  </div>
  <div id="og" class="tabcontent2">
    <h3>Obergeschoss</h3>
    {% autoescape false %}
    {{grundriss_og}}
    {% endautoescape %}
  </div>
</div>

<div id="rb" class="tabcontent">
  <h3>Raumbuch</h3>
  <p>Liste der Räume</p>
  <table>
    <tr>
      <th scope="col">Objects</th>
      <th scope="col">Licht</th>
      <th scope="col">KNX In</th>
      <th scope="col">PM</th>
      <th scope="col">GT</th>
      <th scope="col">230V</th>
      <th scope="col">Steckdose</th>
      <th scope="col">Kontakt</th>
      <th scope="col">CAT7</th>
    </tr>
    <tr>
      <td>{{haus.book["object"]}}</td>
  <td> {{haus.book["licht"]}} </td>
  <td> {{haus.book["knx_input"]}} </td>
  <td> {{haus.book["knx_presenzmelder"]}} </td>
  <td> {{haus.book["knx_glastaster"]}} </td>
  <td> {{haus.book["stromanschluss"]}} </td>
  <td> {{haus.book["steckdose"]}} </td>
  <td> {{haus.book["kontakt"]}} </td>
  <td> {{haus.book["netzwerk"]}} </td>
    </tr>
  </table>
  <ul>
  {% for geschoss in haus.geschosse %}
  <li>
   <details open>
       <summary>{{geschoss.cid}}
           | {{ geschoss.name }}
           | {{geschoss.book["object"]}}
           | {{geschoss.book["licht"]}}
           | {{geschoss.book["knx_input"]}}
           | {{geschoss.book["knx_presenzmelder"]}}
           | {{geschoss.book["knx_glastaster"]}}
           | {{geschoss.book["stromanschluss"]}}
           | {{geschoss.book["kontakt"]}}
           | {{geschoss.book["netzwerk"]}}
       </summary>
    <ul>
     {% for room in geschoss.rooms %}
       <li>
        <details >
            <summary>{{room.cid}}
           | {{ room.name }}
           | {{room.book["object"]}}
           | {{room.book["licht"]}}
           | {{room.book["knx_input"]}}
           | {{room.book["knx_presenzmelder"]}}
           | {{room.book["knx_glastaster"]}}
           | {{room.book["stromanschluss"]}}
           | {{room.book["kontakt"]}}
           | {{room.book["netzwerk"]}}
            </summary>
            <ul>
            {% for obj in room.objects %}
            <li>{{obj.cid}} | {{obj.name}} </li>
            {% endfor %}
            </ul>
        </details>
     {% endfor %}
    </ul>
   </details>
  </li>
  {% endfor %}
  </ul>

</div>

<div id="mb" class="tabcontent">
  <h3>Materialbuch</h3>
  <table>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Anzahl</th>
    </tr>
    <tr>
      <td scope="col">Objects</td>
      <td>{{haus.book["object"]}}</td>
    </tr>
    <tr>
      <td scope="col">Licht</td>
      <td> {{haus.book["licht"]}} </td>
    </tr>
    <tr>
      <td scope="col">Led</td>
      <td> {{haus.book["led"]}} </td>
    </tr>
    <tr>
      <td scope="col">PM</td>
      <td> {{haus.book["knx_presenzmelder"]}} </td>
    </tr>
    <tr>
      <td scope="col">GT</td>
      <td> {{haus.book["knx_glastaster"]}} </td>
    </tr>
    <tr>
      <td scope="col">230V</td>
      <td> {{haus.book["stromanschluss"]}} </td>
    </tr>
    <tr>
      <td scope="col">Steckdose</td>
      <td> {{haus.book["steckdose"]}} </td>
    </tr>
    <tr>
      <td scope="col">Steckdose 1-fach</td>
      <td> {{haus.book["steckdose 1-fach"]}} </td>
    </tr>
    <tr>
      <td scope="col">Steckdose 2-fach</td>
      <td> {{haus.book["steckdose 2-fach"]}} </td>
    </tr>
    <tr>
      <td scope="col">Steckdose 3-fach</td>
      <td> {{haus.book["steckdose 3-fach"]}} </td>
    </tr>
    <tr>
      <td scope="col">Rolladen</td>
      <td> {{haus.book["rolladen"]}} </td>
    </tr>
    <tr>
      <td scope="col">Kontakt</td>
      <td> {{haus.book["kontakt"]}} </td>
    </tr>
    <tr>
      <td scope="col">KNX Binärkontakte</td>
      <td> {{haus.book["knx_input"]}} </td>
    </tr>
    <tr>
      <td scope="col">CAT7</td>
      <td> {{haus.book["netzwerk"]}} </td>
    </tr>
    <tr>
      <td scope="col">Unterputzdosen</td>
      <td> {{haus.book["unterputzdosen"]}} </td>
    </tr>
    <tr>
      <td scope="col">Kabel Länge NYM5x15</td>
      <td> {{haus.book["laenge_kabel_NYM5x15"]}} </td>
    </tr>
    <tr>
      <td scope="col">Kabel Länge NYM5x25</td>
      <td> {{haus.book["laenge_kabel_NYM5x25"]}} </td>
    </tr>
    <tr>
      <td scope="col">Kabel Länge CAT7</td>
      <td> {{haus.book["laenge_kabel_CAT7"]}} </td>
    </tr>
    <tr>
      <td scope="col">Kabel Länge KNX</td>
      <td> {{haus.book["laenge_kabel_KNX"]}} </td>
    </tr>
    <tr>
      <td scope="col">Kabel Länge FMK</td>
      <td> {{haus.book["laenge_kabel_FMK"]}} </td>
    </tr>
    <tr>
      <td scope="col">Anzahl Kabel NYM5x15</td>
      <td> {{haus.book["anzahl_kabel_NYM5x15"]}} </td>
    </tr>
    <tr>
      <td scope="col">Anzahl Kabel NYM5x25</td>
      <td> {{haus.book["anzahl_kabel_NYM5x25"]}} </td>
    </tr>
    <tr>
      <td scope="col">Anzahl Kabel CAT7</td>
      <td> {{haus.book["anzahl_kabel_CAT7"]}} </td>
    </tr>
    <tr>
      <td scope="col">Anzahl Kabel KNX</td>
      <td> {{haus.book["anzahl_kabel_KNX"]}} </td>
    </tr>
    <tr>
      <td scope="col">Anzahl Kabel FMK</td>
      <td> {{haus.book["anzahl_kabel_FMK"]}} </td>
    </tr>
  </table>
</div>

<script>
//<![CDATA[
// document.getElementById("wall_1").setAttribute("fill", "red");
const round = (number, decimalPlaces) => {
  const factorOfTen = Math.pow(10, decimalPlaces);
  return Math.round(number * factorOfTen) / factorOfTen;
}

function changeTab(evt, cityName, tabname="tabcontent") {
  var i, tabcontent, tablinks;
  var classname = evt.currentTarget.className;
  tabcontent = document.getElementsByClassName(tabname);
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName(classname);
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

function clickInit() {
  tablinks = document.getElementsByClassName("tablinks1");
  tablinks[0].click();
  tablinks = document.getElementsByClassName("tablinks2");
  tablinks[1].click();
}

function copy(text) {
  var textArea = document.createElement("textarea");
  textArea.value = text;
  textArea.style.top = "0";
  textArea.style.left = "0";
  textArea.style.position = "fixed";
  document.body.appendChild(textArea);
  textArea.focus();
  textArea.select();
  try {
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
    console.log('Copying text command was ' + msg);
  } catch (err) {
    console.error('Fallback: Oops, unable to copy', err);
  }
  document.body.removeChild(textArea);
}

function onMouseDown(e) {
  var id = e.target.id;
  e.target.setAttribute("fill", "red");
  var loc=getCursor(e);
  var x = round(loc.x/10,1);
  var y = round(loc.y/10,1);
  var text =  "        hori: ["+ x+","+y+"]";
  copy(text);
}

function getCursor(evt) {
    pt.x=evt.clientX;
    pt.y=evt.clientY;
    return pt.matrixTransform(svg.getScreenCTM().inverse());
}

function onMouseMove(e) {
  var id = e.target.id;
  // e.target.setAttribute("fill", "red");
  // var loc=getCursor(e);
  // var x = round(loc.x,1);
  // var y = round(loc.y,1);
  var x = e.clientX;
  var y = e.clientY;
  var text =  x+";"+y;
  if (id != null) {
    // var cn = document.getElementById(id).getAttribute("class");
    var cn = e.target.getAttribute("class");
    if (cn == "wall") {
       // document.getElementById("eg_move").style.display = "inline";
       document.getElementById('eg_move').style.cssText = "left:"+x+"px";
       document.getElementById('eg_move').style.cssText += "top:"+(y-40)+"px";
       document.getElementById('text_move').innerHTML  = text;
    } else {
       // document.getElementById("eg_move").style.display = "none";
    }
  }
 // document.getElementById('pos_text').innerHTML = text;
}

var svg=document.getElementById("svg_untergeschoss");
var pt=svg.createSVGPoint();
document.onmousemove = onMouseMove
document.onmousedown = onMouseDown
//]]>
</script>
</body>
</html>
